
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

/*GENERELLE INDSTILLINGER */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
        font-family: "Puritan", sans-serif;

    color: #111;
    background-color: white;
}

h1,
h2,
h3 {
    font-family: "Baloo 2", sans-serif;
}

/*HEADER*/

.top-header {
    height: 120px;
    background-color: #f4cccc;

    display: flex;
    justify-content: center;
    align-items: center;
}


.top-header img {
    width: 50px;
}


/* Navigation */

.navbar {
    height: 45px;

    background-color: #f8f1e8;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    border-bottom: 1px solid #C5E89B;
}


.search {
    display: flex;
    align-items: center;

    width: 150px;
    height: 30px;

    padding: 0 10px;
    margin-left: -20px;
}

.search input {
    width: 100%;
    outline: none;
    padding: 0 10px;

    background: white;
    border: 1px solid #cccccc;
    border-radius: 20px;

    font-family: "Puritan", sans-serif;
    font-size: 12px;
}

.loop {
    width: 20px;
    height: 20px;

    margin-right: 5px;

    object-fit: contain;
}

.burger-menu {
    font-size: 30px;
}

/* Cremefarvet stribe under den lyserøde header */

.cream-bar {
    height: 14px;
    background-color: #f8f1e8;
}

/*HERO*/

.hero {
    padding: 35px 25px;

    display: grid;

    grid-template-columns: 1fr 100px;

    gap: 20px;

    border-bottom: 1px solid #f4cccc;
}

.hero-small-text {
    margin-top: -10px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 35px;
    line-height: 0.9;

    margin: 5px 0 10px;
}


.hero p {
    font-size: 12px;
}


.hero-image img {
    width: 100%;
    height: 100%;
}


.hero .button {
    grid-column: 1 / 3;

    justify-self: center;
}


/*KNAPPER*/

.button {
    display: inline-block;

    background-color: #a9bfdc;
    color: #222;

    text-decoration: none;

    padding: 8px 18px;

    border-radius: 8px;

    font-size: 11px;
}


/*PRODUKT*/

.product-section {
    padding: 40px 25px;
}


.product-section h2 {
    text-align: left;

    font-size: 17px;

    margin-bottom: 20px;
}


.product-card {
    background-color: #f7f0e8;

    border-radius: 10px;

    padding: 20px;

    display: grid;

    grid-template-columns: 30px 1fr 30px;

    align-items: center;
}


.product {
    text-align: center;
}


.product img {
    width: 100%;
    max-width: 170px;
}


.product p {
    text-align: left;

    margin-top: 10px;

    font-size: 12px;
}


.arrow-left {
    background: none;
    border: none;

    font-size: 35px;

    cursor: pointer;

    transform: translate(5px, 20px);

}

.arrow-right {
    background: none;
    border: none;

    font-size: 35px;

    cursor: pointer;

    transform: translate(5px, 20px);
}


.product-card .button {
    grid-column: 1 / 4;

    justify-self: center;

    margin-top: 15px;
}


/*SÅDAN FUNGERER DET*/

.how-it-works {
    padding: 10px 35px 50px;
}


.how-it-works h2 {
    font-size: 17px;

    margin-bottom: 20px;
}


.step {
    display: flex;

    gap: 15px;

    margin-bottom: 20px;
}


.number {
    width: 25px;
    height: 25px;

    background-color: #e9985d;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    font-weight: bold;
}


.step h3 {
    font-size: 13px;

    margin-bottom: 3px;
}


.step p {
    font-size: 11px;
}


/* VORES HISTORIE*/

.history {
    padding: 40px 35px;

    border-top: 1px solid #C5E89B;
}


.history h2 {
    text-align: center;

    margin-bottom: 25px;

    font-size: 18px;
}


.history-content {
    display: flex;

    gap: 30px;

    align-items: flex-start;
}


.history-content img {
    width: 120px;
    height: 140px;

    object-fit: cover;

    background-color: #aaa;
}


.history-content p {
    font-size: 12px;

    margin-bottom: 10px;
}


.history-content a {
    color: black;

    font-size: 12px;

    font-weight: bold;

    text-decoration: none;
}


/* INSTAGRAM*/

.instagram {
    background-color: #f4cccc;

    text-align: center;

    padding: 15px;
}


.instagram p {
    font-size: 9px;

    margin-bottom: 5px;
}


.instagramlogo {
    display: flex;
    justify-content: center;

    height: 20px;
    width: 100%;
}


/*FOOTER*/

footer {
    background-color: #f7f0e8;

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 10px 15px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    width: 15px;
    height: 15px;
}

footer p {
    font-size: 8px;
}


.footer-logo {
    font-size: 18px;
}